body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-callsign .err {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-callsign .form-callsign-heading {
  margin-bottom: 10px;
}

.form-callsign .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-callsign .form-control:focus {
  z-index: 2;
}

.form-callsign input[type="text"] {
  margin-bottom: 10px;
}

#footer {
  font-size: xx-small;
}
